<navbar></navbar>

<div class="container">
  <div class="col-md-12">

    <div cm-single-view
         ng-if="ctrl.singleViewObject">
    </div>

    <div cm-simple-search
         ng-if="ctrl.isSimpleSearch">
    </div>

    <div cm-advanced-search
         ng-if="!ctrl.isSimpleSearch">
    </div>

    <div ng-repeat="monologue in ctrl.results">
        <div cm-show-monologue></div>
    </div>

    <div class="col-md-12">
      <button ng-click="ctrl.switchDev()"
              class="btn btn-dev">
            dev-view
      </button>
    </div>
    <div cm-developer-portal
         ng-if="ctrl.isdeveloperView">
    </div>
  </div>
</div>
