.single-view {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 200px;
    margin-left: -225px;
    margin-top: 25px;
    padding: 5px;
    background-color: #C4E9F5;
  
    /* needed styles for the overlay */
    z-index: 11; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

.btn-dev {
	font-size: 10px;
	padding: 2px;
}