
<div class="col-md-12">
	Search:

	<input type="text" 
         ng-model="ctrl.criteriaSimple"
         ng-change="ctrl.adjustedFilterSearch()"
         placeholder="playwright, character, or title" />
  <br /><br />

  {{ ctrl.userInput }}

  <div ng-repeat="monologue in ctrl.results">
    <div>
      <label>Playwright</label>
      <span ng-bind="monologue.playwright"></span>
    </div>
    <div>
      <label>Character</label>
      <span ng-bind="monologue.character"></span>
    </div>
    <br />
  </div>

  <pre>
    {{ ctrl.monologues | json }}
  </pre>
</div>

