.single-view {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    min-height: 200px;
    margin-left: -225px;
    margin-top: 25px;
    padding: 5px;
    background-color: #C4E9F5;
  
    /* needed styles for the overlay 
    z-index: 11; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}

div {
    color: #65664A;
}

body {
    background-color: #f3f3f1;
}

/*  Forms  */
/*  Form Inputs  */

.form-group {
    color: #65664A;
    font-size: 1.1em;
}

.form-control:focus {
    border-color: #E2E3C1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(206, 172, 125, .6);
}

.form-selector {
    margin-left: 2em;
}


/* Form Buttons */

.btn-margot {
    color: white;
    background-color: #FA6986;
    border-color: #FF5072;
}

.btn-margot:hover {
    color: white;
    background-color: #FF5072;
}

.btn-margot:active {
    color: white;
    background-color: #FF3F65;
}

.btn-richie {
    color: white;
    background-color: #B68054;
    border-color: #B5601B;
}

.btn-richie:hover {
    color: white;
    background-color: #B5601B;
}

.btn-richie:active {
    color: white;
    background-color: #CCAD93;
}

.btn-cash {
    color: white;
    background-color: #69B88C;
    border-color: #389244;
}

.btn-cash:hover {
    color: white;
    background-color: #71D69E;
}

.btn-cash:active {
    color: white;
    background-color: #A8DEA8;
}

.btn-royal {
    color: white;
    background-color: #6F9EAF;
    border-color: #2F8DAF;
}

.btn-royal:hover {
    color: white;
    background-color: #2F8DAF;
}

.btn-royal:active {
    color: white;
    background-color: #9DC4D2;
}

.btn-dev {
    background-color: #D4CDCD;
	font-size: 10px;
	padding: 2px;
}


/*  Form Errors */

.form-error {
    color: #FA6986;
}

/* 

CACC97 base
65664A mold
69B88C green tea
FA6986 pink
E2E3C1 leather

*/

