<navbar></navbar>

<div class="container">
	<div class="col-md-6">

		<form name="addMonologue"
			  ng-submit="ctrl.submitMonologue()"
			  novalidate>

			<cm-user-input for-label="Playwright"
						   for-name="playwright"
						   for-model="ctrl.newMonologue.playwright"
						   for-typeahead="item for item in ctrl.transformForTypeahead(ctrl.monologues, 'playwright') | filter:$viewValue | limitTo:5"
						   for-minlength="3"
						   for-show="addMonologue.playwright.$error.minlength">
			</cm-user-input>

			<cm-user-input for-label="Play Title"
						   for-name="title"
						   for-model="ctrl.newMonologue.title"
						   for-typeahead="item for item in ctrl.transformForTypeahead(ctrl.monologues, 'title') | filter:$viewValue | limitTo:5"
						   for-minlength="1"
						   for-show="addMonologue.title.$error.minlength">
			</cm-user-input>

			<cm-user-input for-label="Character"
						   for-name="character"
						   for-model="ctrl.newMonologue.character"
						   for-typeahead="item for item in ctrl.transformForTypeahead(ctrl.monologues, 'character') | filter:$viewValue | limitTo:5"
						   for-minlength="1"
						   for-show="addMonologue.character.$error.minlength">

			</cm-user-input>

			<div class="form-inline">
				<div class="form-group form-selector">
					<label>Gender</label>
					<select class="form-control box-radio"
							ng-options="gender as gender for gender in ctrl.genderList"
							ng-model="ctrl.newMonologue.gender"
							ng-init="ctrl.newMonologue.gender = 'other'">
					</select>
				</div>

				<div class="form-group form-selector">
					<label>Age</label>
					<select class="form-control"
							ng-options="age as age for age in ctrl.ageList"
						    ng-model="ctrl.newMonologue.age"
						    ng-init="ctrl.newMonologue.age = 'adult'">
					</select>
				</div>
			</div>

			<div class="form-group">
			  	<label>Monologue</label>
			  	<textarea type="text"
			  			  name="body"
			  		   	  class="form-control"
			  		   	  rows="6"
			  		   	  minlength="45"
			  		      ng-model="ctrl.newMonologue.body"
			  		      required>
			  	</textarea>
			  	<div ng-show="addMonologue.$submitted"
			  		 class="form-error">
					<span ng-show="addMonologue.body.$error.minlength">
						This entry is too short
					</span>
				</div>
			</div>

			<input type="button"
				   value="cancel"
				   ui-sref="monologues"
				   class="btn btn-margot">

			<input type="submit"
				   value="submit"
				   class="btn btn-cash">

		</form>
	</div>

	<div class="col-md-6">
		<h3>Add Monologue</h3>
		<h3>check for duplicates?</h3>
	</div>
</div>