
<div class="container">
	New Monologue

	<form name="ctrl.newMonologue"
		  ng-submit="ctrl.submitMonologue()"
		  validate>

		<div>
		  	<label>Playwright</label>
		  	<input type="text"
		  		   ng-model="ctrl.newMonologue.playwright"
		  		   required>
		</div>

		<div>
		  	<label>Play Name</label>
		  	<input type="text"
		  		   ng-model="ctrl.newMonologue.title"
		  		   required>
		</div>

		<div>
		  	<label>Character</label>
		  	<input type="text"
		  		   ng-model="ctrl.newMonologue.character"
		  		   required>
		</div>

		<div>
			<label>Gender</label>
			<select ng-options"key as key for key in ctrl.states"
					ng-model="ctrl.newMonologue.gender">
			</select>
			{{ ctrl.genderOptions }}
		</div>

		<div>
		  	<label>Gender</label>
		  	<input type="text"
		  		   ng-model="ctrl.newMonologue.gender"
		  		   value="other"
		  		   required>
		</div>

		<div>
		  	<label>age</label>
		  	<input type="text"
		  		   ng-model="ctrl.newMonologue.age"
		  		   value="adult"
		  		   required>
		</div>

		<div>
		  	<label>Monologue</label>
		  	<input type="textarea"
		  		   ng-model="ctrl.newMonologue.body"
		  		   required>
		</div>

		<input type="submit"
			   value="submit"
			   class="btn btn-primary">

	</form>
</div>