<div class="col-md-12">
    <h4>Search by Playwright, Title, or Character</h4>
    <br />
</div>

<div class="col-md-6">
    <form class="form-group">
    	<input type="text"
               class="form-control" 
               ng-model="ctrl.criteriaSimple"
               ng-change="ctrl.adjustedFilterSearch()"
               placeholder="playwright, character, or title" />
        <br /><br />
    </form>
</div>

<div class="col-md-6">
    <button class="btn btn-royal"
    		    ng-click="ctrl.switchSearch()">
        Switch to Advanced Search
    </button>
</div>

  