<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Project Monologue</h1>
    <p class="lead">Thanks for visiting the initial deployment of ProjectMonologue, a full stack application build on the angular-fullstack scaffolding.  The app is intended to help actors sort through plays, playwrights, and monologues.</p>
  </div>
</header>

<div class="container">
  <h3>Pending Features</h3>
  <div ng-repeat="obj in ctrl.toDoList">
    <div ng-repeat="(key, value) in obj">
      <span ng-bind="value"></span>
    </div>
  </div>
</div>

<footer></footer>
